body {background-image : url(/images/simple_dashed.png);
  background-repeat : repeat;
  background-position : 50% 50%;
  background-attachment : fixed;
  color : #ffffff;
  font-family: "Arial";
  font-size: .8em;
  line-height: 130%;
  margin-top: 2em;
}


.container {
  width: 55%;
  margin: 0 auto;
}


.header {
  text-align: center;
  margin: 2em;
}


h4 {
  margin: 0.2em;
}


h1 {
  margin: .5em;
}

.objective {
  margin: 1em;
}

li{
  margin: 10px 0;
}

.section {
  margin-top: 3em;
}


.toggle-gallery {
  display: none;
}

.toggle-gallery + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-gallery + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-gallery:checked + label + div {
  display: block;
}

.toggle-gallery + label:before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-gallery:checked + label:before {
  content: "\2212";
} 



